Node-red.txt
[{"id":"da6983c7.6075","type":"tab","label":"Home","disabled":false,"info":""},{"id":"ef9be6fd.170c38","type":"ui_switch","z":"da6983c7.6075","name":"","label":"Led 1","tooltip":"","group":"482c950a.d5cecc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"mi-wb_incandescent ","oncolor":"yellow","offvalue":"0","offvalueType":"str","officon":"mi-wb_incandescent ","offcolor":"red","x":310,"y":240,"wires":[["92e213ac.ea4d2"]]},{"id":"92e213ac.ea4d2","type":"mqtt out","z":"da6983c7.6075","name":"","topic":"bouton1/led1","qos":"0","retain":"","broker":"64c4b8dc.bd9e58","x":630,"y":240,"wires":[]},{"id":"5362714a.a84a8","type":"ui_switch","z":"da6983c7.6075","name":"","label":"Etat Arrosage ","tooltip":"","group":"482c950a.d5cecc","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"bouton/vanne1","style":"","onvalue":"1","onvalueType":"str","onicon":"mi-invert_colors","oncolor":"cyan","offvalue":"0","offvalueType":"str","officon":"mi-invert_colors","offcolor":"white","x":300,"y":360,"wires":[["c1930f82.1a4e6"]]},{"id":"5cd24089.aba3f","type":"mqtt in","z":"da6983c7.6075","name":"","topic":"bouton/vanne1","qos":"2","datatype":"auto","broker":"64c4b8dc.bd9e58","x":100,"y":60,"wires":[["e2888a93.8dae18"]]},{"id":"e2888a93.8dae18","type":"function","z":"da6983c7.6075","name":"Arrosage","func":"var electro1 = msg.payload\n    if ((electro1 == '1'))\n    {\n        msg.payload = 'Ouverte';\n    }\n    else \n    {\n        msg.payload = 'Fermée';\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":60,"wires":[["b456a87d.a7f818"]]},{"id":"b456a87d.a7f818","type":"ui_text","z":"da6983c7.6075","group":"2a316771.f22ce8","order":1,"width":0,"height":0,"name":"","label":"Electrovanne 1 : ","format":"{{msg.payload}}","layout":"row-left","x":490,"y":60,"wires":[]},{"id":"b83e2059.078a","type":"mqtt in","z":"da6983c7.6075","name":"","topic":"bouton/vanne2","qos":"2","datatype":"auto","broker":"64c4b8dc.bd9e58","x":100,"y":120,"wires":[["55813690.e310b8"]]},{"id":"55813690.e310b8","type":"function","z":"da6983c7.6075","name":"Arrosage","func":"var electro1 = msg.payload\n    if ((electro1 == '0'))\n    {\n        msg.payload = 'Fermée';\n    }\n    else \n    {\n        msg.payload = 'Ouverte';\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["c47ac579.b98d28"]]},{"id":"c47ac579.b98d28","type":"ui_text","z":"da6983c7.6075","group":"2a316771.f22ce8","order":2,"width":0,"height":0,"name":"","label":"Electrovanne 2 : ","format":"{{msg.payload}}","layout":"row-left","x":500,"y":120,"wires":[]},{"id":"db18e567.c02c78","type":"mqtt in","z":"da6983c7.6075","name":"","topic":"bouton/moteur","qos":"2","datatype":"auto","broker":"64c4b8dc.bd9e58","x":110,"y":200,"wires":[["b4139d4e.9f762"]]},{"id":"b4139d4e.9f762","type":"ui_text","z":"da6983c7.6075","group":"2a316771.f22ce8","order":3,"width":0,"height":0,"name":"","label":"Toit : ","format":"{{msg.payload }}°","layout":"row-left","x":470,"y":200,"wires":[]},{"id":"51c280bc.d0b01","type":"ui_switch","z":"da6983c7.6075","name":"","label":"Led 2","tooltip":"","group":"482c950a.d5cecc","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"mi-wb_incandescent ","oncolor":"yellow","offvalue":"0","offvalueType":"str","officon":"mi-wb_incandescent ","offcolor":"red","x":310,"y":300,"wires":[["58aea450.bebdbc"]]},{"id":"58aea450.bebdbc","type":"mqtt out","z":"da6983c7.6075","name":"","topic":"bouton2/led2","qos":"0","retain":"","broker":"64c4b8dc.bd9e58","x":610,"y":300,"wires":[]},{"id":"c1930f82.1a4e6","type":"change","z":"da6983c7.6075","name":"","rules":[{"t":"set","p":"boutonarrosage","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["61a0eaf.ea7c014","ebb82159.00ebf"]]},{"id":"4b4a88c8.21cfa8","type":"ui_switch","z":"da6983c7.6075","name":"Etat arrosage 2","label":"Etat Arrosage 2","tooltip":"","group":"482c950a.d5cecc","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"bouton/vanne2","style":"","onvalue":"1","onvalueType":"str","onicon":"mi-invert_colors","oncolor":"cyan","offvalue":"0","offvalueType":"str","officon":"mi-invert_colors","offcolor":"white","x":300,"y":440,"wires":[["6191b5cf.702fcc"]]},{"id":"8bbbd712.45e708","type":"mqtt out","z":"da6983c7.6075","name":"","topic":"bouton/vanne2","qos":"2","retain":"","broker":"64c4b8dc.bd9e58","x":820,"y":440,"wires":[]},{"id":"61a0eaf.ea7c014","type":"mqtt out","z":"da6983c7.6075","name":"","topic":"bouton/vanne1","qos":"2","retain":"","broker":"64c4b8dc.bd9e58","x":780,"y":360,"wires":[]},{"id":"6191b5cf.702fcc","type":"change","z":"da6983c7.6075","name":"","rules":[{"t":"set","p":"boutonarrosage2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":440,"wires":[["8bbbd712.45e708","dfbea21a.99ea1"]]},{"id":"d1135016.e2d0a","type":"ui_toast","z":"da6983c7.6075","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"Attention !","name":"Changement d'état ","x":990,"y":260,"wires":[[]]},{"id":"ebb82159.00ebf","type":"function","z":"da6983c7.6075","name":"","func":"var btn = global.get('boutonarrosage')\nif ((btn == '1'))\n    {\n       msg.payload = 'Ouverture de la vanne';\n    }\n    else \n    {\n        msg.payload = 'Fermeture de la vanne';\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":260,"wires":[["d1135016.e2d0a"]]},{"id":"681f52c5.5e9b7c","type":"ui_toast","z":"da6983c7.6075","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"Attention !","name":"Changement d'état ","x":950,"y":500,"wires":[[]]},{"id":"dfbea21a.99ea1","type":"function","z":"da6983c7.6075","name":"","func":"var btn = global.get('boutonarrosage')\nif ((btn == '1'))\n    {\n       msg.payload = 'Ouverture de la vanne';\n    }\n    else \n    {\n        msg.payload = 'Fermeture de la vanne';\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":500,"wires":[["681f52c5.5e9b7c"]]},{"id":"27a63cf5.360a54","type":"file in","z":"da6983c7.6075","name":"load image to buffer","filename":"/home/pi/Desktop/aurora.jpg","format":"","sendError":false,"x":250,"y":640,"wires":[["6884689b.fd3688"]]},{"id":"abd5aed3.9566c","type":"ui_template","z":"da6983c7.6075","group":"72303c1.198bdc4","name":"","order":0,"width":"6","height":"6","format":"<div>\n  <img ng-src=\"data:image/JPEG;base64,{{msg.payload}}\"/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":600,"y":640,"wires":[[]]},{"id":"6884689b.fd3688","type":"base64","z":"da6983c7.6075","name":"","action":"","property":"payload","x":430,"y":640,"wires":[["abd5aed3.9566c"]]},{"id":"d8b6d7c2.da3a38","type":"ui_template","z":"da6983c7.6075","group":"18f2a071.cbd76","name":"","order":0,"width":"6","height":"6","format":"<img src='/home/pi/2021-01-06-143658_800x480_scrot.png'>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":570,"y":720,"wires":[[]]},{"id":"e7ec2aa2.ed7c88","type":"ui_template","z":"da6983c7.6075","group":"72303c1.198bdc4","name":"","order":0,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"/home/pi/Desktop/auora.jpg\");\n        background-repeat: no-repeat;\n        background-position: right top;\n        background-size: 100%;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":480,"y":800,"wires":[[]]},{"id":"4678fe9b.f92a4","type":"inject","z":"da6983c7.6075","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":320,"y":800,"wires":[["e7ec2aa2.ed7c88"]]},{"id":"a73e591a.ab9398","type":"mqtt out","z":"da6983c7.6075","name":"","topic":"bouton/moteur","qos":"2","retain":"","broker":"64c4b8dc.bd9e58","x":350,"y":540,"wires":[]},{"id":"62fa1e5b.0a501","type":"inject","z":"da6983c7.6075","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"360","payloadType":"str","x":130,"y":520,"wires":[["a73e591a.ab9398"]]},{"id":"482c950a.d5cecc","type":"ui_group","name":"Panel de contrôle","tab":"b079ea5d.6e0d68","order":2,"disp":true,"width":"6","collapse":false},{"id":"64c4b8dc.bd9e58","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2a316771.f22ce8","type":"ui_group","name":"Etats","tab":"b079ea5d.6e0d68","order":1,"disp":true,"width":"6","collapse":false},{"id":"72303c1.198bdc4","type":"ui_group","name":"Default","tab":"d50f4120.5bc2d","order":1,"disp":true,"width":"6","collapse":false},{"id":"18f2a071.cbd76","type":"ui_group","name":"Bouton","tab":"4458a382.08f02c","order":2,"disp":true,"width":"6","collapse":false},{"id":"b079ea5d.6e0d68","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d50f4120.5bc2d","type":"ui_tab","d":true,"name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4458a382.08f02c","type":"ui_tab","d":true,"name":"Moteur","icon":"dashboard","order":4,"disabled":false,"hidden":false}]